<h2>{{song.name}}</h2>
<h3>{{song.artist}}</h3>
<iframe width="560" height="315" [src]="url" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>