<p>playlist works!</p>

<div class="container mt-2 mb-2">

    <div class="row">

        <div class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column" *ngFor="let song of songs" >
            <h5 class="card-title">{{song.artist}} </h5>
            
            <img (click)="playSong(song.id.toString())"  src="{{song.cover}}" alt={{song.artist}}>

            <p>{{ song.name }}</p>
                

        </div>

    </div>